{% extends 'base.html.twig' %}

{% block title %}Walk index{% endblock %}

{% block body %}
    <h1>Walk index</h1>
    <a class="btn btn-success" href="{{ path('app_walk_new') }}">Create new</a>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>WalkDate</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for walk in walks %}
            <tr>
                <td>{{ walk.id }}</td>
                <td>{{ walk.title }}</td>
                <td>{{ walk.walkDate ? walk.walkDate|date('Y-m-d') : '' }}</td>
                <td>{{ walk.description }}</td>
                <td>
                    <div class="d-flex gap-2">
                        <a class="btn btn-success" title="Ver" href="{{ path('app_walk_show', {'id': walk.id}) }}"><i class="bi bi-eye"></i></a>
                        <a class="btn btn-primary" title="Editar" href="{{ path('app_walk_edit', {'id': walk.id}) }}"><i class="bi bi-pencil-square"></i></a>
                        <form method="post" action="{{ path('app_walk_delete', {'id': walk.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ walk.id) }}">
                            <button class="btn btn-danger" title="Eliminar"><i class="bi bi-trash"></i></button>
                        </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
