{% extends 'base.html.twig' %}

{% block title %}Route list{% endblock %}

{% block body %}
    <div class="container">
        <h2>Route list</h2>
        <a class="btn btn-success" title="{{ 'Add Route'|trans }}" href="{{ path('app_walk_new') }}"><i class="bi bi-folder-plus"></i></a>
        <hr>
        
        <div id="table-gridjs"></div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }} 

    

    <script>
        'use strict';

        
        function initializeGridJS() {
            
            const container = document.getElementById('table-gridjs');
            if (!container) {
                console.log("El contenedor #table-gridjs no está presente en esta página.");
                return; 
            }

            
            let walks = {{ walksJson|raw }};
            console.log("Datos de walks en JS:", walks); 

            
            new gridjs.Grid({
                columns: [
                    '{{ "Name"|trans }}',
                    '{{ "Date"|trans }}',
                    '{{ "Description"|trans }}',
                    '{{ "Actions"|trans }}'
                ],
                pagination: {
                    limit: 5
                },
                sort: true,
                search: true,
                data: walks.map(walk => [
                    walk.name,
                    walk.dateWalk,
                    walk.description,
                    gridjs.html(`
                        <a class="btn btn-success" href="/walk/${walk.id}" title="{{ 'View'|trans }}">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a class="btn btn-primary" href="/walk/${walk.id}/edit" title="{{ 'Edit'|trans }}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <form method="post" action="/walk/${walk.id}" onsubmit="return confirm('{{ 'Are you sure?'|trans }}');" style="display:inline;">
                            <input type="hidden" name="_token" value="${walk.csrf_token}">
                            <button type="submit" class="btn btn-danger" title="{{ 'Delete'|trans }}">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    `)
                ])
            }).render(container); 
        }

        
        document.addEventListener('DOMContentLoaded', initializeGridJS);

        
        document.addEventListener('turbo:load', initializeGridJS);
    </script>
{% endblock %}

