{% extends 'base.html.twig' %}

{% block title %}Walk{% endblock %}

{% block body %}
    <h1>Walk</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ walk.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ walk.title }}</td>
            </tr>
            <tr>
                <th>WalkDate</th>
                <td>{{ walk.walkDate ? walk.walkDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ walk.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_walk_index') }}">back to list</a>

    <a href="{{ path('app_walk_edit', {'id': walk.id}) }}">edit</a>

    {{ include('walk/_delete_form.html.twig') }}
{% endblock %}
