{% extends 'base.html.twig' %}

{% block title %}Walk{% endblock %}

{% block body %}
    <div class="container">
        <h2>Walk</h2>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ walk.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ walk.title }}</td>
                </tr>
                <tr>
                    <th>WalkDate</th>
                    <td>{{ walk.walkDate ? walk.walkDate|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ walk.description }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-secondary" href="{{ path('app_walk_index') }}"><i class="bi bi-arrow-left-square"></i></a>

        <a class="btn btn-success" href="{{ path('app_walk_edit', {'id': walk.id}) }}"><i class="bi bi-pencil-square"></i></a>
    </div>
    
{% endblock %}
