<header>
    <nav>
        <a href="{{ path('app_home') }}">{{'Home'|trans}}</a>
        <a href="{{ path('app_login') }}">{{'Login'|trans}}</a>
        <a href="{{ path('app_login') }}">{{'Routes'|trans}}</a>
    </nav>
</header>
